@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background {
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background: linear-gradient(-45deg, #f9c5d1, #9795ef, #f6a5c0, #f9c5d1);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1); /* Light overlay to soften the colors */
}